@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MovieMvcProject.Domain.Resources.ExceptionResource> L
@{
    Layout = "_ErrorLayout";
    ViewData["Title"] = L["Unauthorized"];
}

<div class="text-primary drop-shadow-[0_0_15px_rgba(234,42,51,0.6)] mb-4">
    <span class="material-symbols-outlined !text-8xl">passkey</span>
</div>
<h1 class="text-8xl font-black text-white">401</h1>
<h2 class="text-2xl font-bold text-gray-100">@L["Unauthorized"]</h2>
