@using Microsoft.Extensions.Localization
@inject IStringLocalizer<MovieMvcProject.Domain.Resources.ExceptionResource> L

<div class="flex flex-wrap justify-center gap-4 mt-12">
    @* Ana Sayfa Butonu *@
    <a asp-controller="Movie" asp-action="Index"
           class="flex min-w-[160px] items-center justify-center rounded-xl h-14 px-6 bg-primary text-white text-lg font-bold transition hover:scale-105 active:scale-95 shadow-[0_0_25px_rgba(234,42,51,0.4)]">
        @L["GoToHome"]
    </a>

    @* Geri Dön Butonu *@
    <button onclick="history.back()"
            class="flex min-w-[160px] items-center justify-center rounded-xl h-14 px-6 bg-white/5 text-white text-lg font-bold transition hover:bg-white/10 active:scale-95 border border-white/10">
        @L["GoBack"]
    </button>
</div>